<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>946782490956-822o8vg74qn71626j75s6fosklive5jj.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.946782490956-822o8vg74qn71626j75s6fosklive5jj</string>
	<key>API_KEY</key>
	<string>AIzaSyBRDRxyhS2ytKX5TDYp9pqPnx3louOVxrU</string>
	<key>GCM_SENDER_ID</key>
	<string>946782490956</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.abreuboom.EatUps</string>
	<key>PROJECT_ID</key>
	<string>eatups-f1d7f</string>
	<key>STORAGE_BUCKET</key>
	<string>eatups-f1d7f.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<false/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:946782490956:ios:9dd17f28c7b9f430</string>
	<key>DATABASE_URL</key>
	<string>https://eatups-f1d7f.firebaseio.com</string>
</dict>
</plist>